    .card {
    position: absolute;
    left: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 220px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Sora';
    font-size: 20px;
    }

    .card-contact {
    font-family: 'Sora';
    font-size: 15px;
    }

        .card-contact img {
        width: 4%;
        position: relative;
        }
    

    .outlook-pic {
    width: 10%;
    position: relative;
    }


    .wrapper {
    max-width: 1200px;
    min-width: 800px;
    position: relative;
    left: 360px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden; 
    }

    .myeducation {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    font-family: 'Sora';
    font-size: 18px;
    }

        .myeducation hr {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            height: 10px;
            background-color:rgb(160, 92, 92);
            opacity: 0.5;
        }

    .workexp {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    font-family: 'Sora';
    font-size: 18px;
    }

        .workexp hr {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            height: 10px;
            background-color:rgb(160, 92, 92);
            opacity: 0.5;
        }

        


    .myproject {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    font-family: 'Sora';
    font-size: 18px;
    }

    
    .ediproj {
        position: relative;
        max-width: 1200px;
        min-width: 800px;
        margin: auto;
        left: 40px;
        font-family: 'Sora';
        font-size: 17px;
    }


    .title {
    color: grey;
    font-size: 18px;
    }

    button.contact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: peru;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }

    button.mywork {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #a19d94;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }

    button.files {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #997a8d;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }

    a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    }

    button:hover, a:hover {
    opacity: 0.7;
    }