p {
    margin: 10px 0 !important;
  }
  
  .login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
  }

  .contact-container {
    width: 75%;
    margin-top: 50px;
    text-align: center;
	  min-height: 500px;
	  display: flex;
	  align-items: flex-start;
	  flex-direction: column;
	  justify-content: flex-start;
	  background-size: cover;
	  background-position: center
  }

  .contact-container h2 {
    color: black;
    margin: 0 30px;
    font-size: 24px;
    padding: 100px 0;
  }
  
    .contact-container h2:hover {
      color: var(--green);
      transition: 0.2s linear;
      transform: scale(1.1);
    }


    .about {
      width: 100%;
      min-height: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      color: black;
    }
    
      .about h1 {
        padding: 40px 0;
        font-size: 40px;
        color: black;
        border-bottom: 2.5px solid teal;
      }
  
  .fa-small {
    font-size: 16px !important;
  }
  
  .btn-float {
    float: left;
    margin-right: 10px;
  }
  
  .img-small {
    width: 180px;
  }